*{
    margin: 0;
    padding: 0;
    box-sizing; border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(221, 176, 28);
}
p{
    color: rgb(255, 196, 0);
}
.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color:rgb(141, 141, 141);
}
