*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    max-width: 1300px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: #FFFFFF !important;
}

a{
    text-decoration: none;
}

p{
    color: rgb(255, 196, 0);
}

.container-navbar{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#EBA92A;
}

form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 90%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
  
 /* Style the submit button */
  form.search-form button {
    float: left;
    width: 10%;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

.search-bar{
    width: 30vw;
    min-width: 450px;
}
