.profile-page {
    font-family: 'Red Hat Display', sans-serif;

    .general-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        margin-bottom: 24px;
    
        .general-box {
            background-color: $accentColor;
            padding: 20px;
            width: 1150px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .profile-picture-and-information {
                background-color: $secondaryColor;
                width: 1000px;
                height: 170px;
    
    
                .profile-container {
                    display: flex;
                    flex-direction: row;
                    margin: 20px 50px;
    
                    .profile-picture-section {
                        margin: 14px 10px;
    
                        .profile-picture {
                            width: 100px;
                        }
                    }
    
                    .online-status {
                        width: 40px;
                        position: absolute;
                        margin-top: 70px;
                        margin-left: 75px;
                    }
    
                    .username-and-rating-section {
                        margin: 24px 40px;
    
                        span {
                            font-size: 30px;
                            color: $primaryColor;
                        }
    
                        .star-rating {
                            span {
                                font-size: 15px;
                                color: $primaryColor;
                            }
                        }
    
                        .friends-logo-and-text {
                            display: flex;
                            align-items: center;
                            margin-top: 5px;

                            span {
                                margin-left: 5px;
                                font-size: 18px;
                                color: $primaryColor;
                            }
                        }
                    }
        
                    .profile-information-section {
                        display: flex;
                        flex-direction: column;
                        margin: 26px 40px;
                        align-items: center;
    
                        span {
                            font-size: 30px;
                            color: $primaryColor;
                        }
                    }
        
                    .vl {
                        border-left: 3px solid $primaryColor;
                        height: 130px;
                        margin: 0 10px;
                    }
        
    
                }
    
               
            }
    
            .profile-settings {
                width: 1000px;
    
                hr {
                    border: 6px solid #D9D9D9;
                }
    
                .options {
                    margin-top: 25px;
                    h2 {
                        color: #898686;
                        text-decoration: none;
                        font-size: 30px;
                    }
    
                    a {
                        text-decoration: none;
                        color: black;
    
                        li {
                            list-style: none;
                            margin-top: 8px;
                            margin-left: 45px;
                            font-size: 25px;
                        }
    
                        .delete-account-text {
                            color: red;
                        }
                    }
    
                    hr {
                        margin-top: 25px;
                        border: 2px solid #D9D9D9;
                    }
                }
    
            }
        }
    }
}


