// These are the stylings for the Search Results page.
.search-results-page {
    font-family: 'Red Hat Display', sans-serif;

    .general-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;
 
        .general-box {
            background-color: $accentColor;
            padding: 20px;
            width: 1150px;
            display: flex;
            flex-direction: column;   

            .page-path-and-sort-by {
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 20px;
                }
                
                .search-results-text {
                    color: $secondaryColor;
                    margin-right: 30px;
                }

                .number-of-results {
                    color: #A6A6A6;
                }

                .line-1 {
                    position: absolute;
                    border-top: 5px solid $secondaryColor;
                    width: 124px;
                    margin-left: 80px;
                }

                select {
                    height: 20px;
                    font-size: 15px;
                    padding-left: 5px;
                    align-self: center;
                    border: 1px solid $primaryColor;
                }
            }

            .category-and-all-products-container {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                .category-container {
                    display: flex;
                    flex-direction: column;
                    background-color: $primaryColor;
                    padding: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 210px;

                    .category-title {
                        margin-bottom: 10px;

                        h1 {
                            font-size: 24px;
                        }
                    }

                    .categories {
                        text-align: center;
                        span {
                            font-size: 20px;
                        }
                    }
                }

                .all-products-and-page-number-container {
                    display: flex;
                    flex-direction: column;
                    
                    .page-number-container-top {
                        padding-bottom: 15px;
                        padding-top: 2px;

                        .active {
                            width: 30px;
                        }

                        .bi-chevron-left {
                            visibility: hidden;
                        }
            
                        span {
                            font-size: 22px;
                        }
                        a {
                            text-decoration: none;
                            color: black;

                            .page-number {
                                margin-right: 10px;
                            }
                        }  
                    }

                    .all-products-container {
                        display: flex;
                        flex-direction: column;
                        width: 870px;
                        padding: 10px;
                        background-color: $primaryColor;
        
                        .products-section {
                            display: flex;
                            margin-bottom: 10px;
                            
                            .product-container {
                                background-color: $secondaryColor;
                                padding: 6px;
                                margin-right: 7px;
                    
                                .product {
                                    background-color: $primaryColor;
                                    padding-bottom: 8px;
                                    
                                    img {
                                        width: 127px;
                                    }
                    
                                    .product-description {
                                        padding: 0 8px;
                                        
                                        .product-name {
                                            text-align: center;
                                            padding-bottom: 2px;
                                            
                                            a {
                                                text-decoration: none;
                
                                                span {
                                                    font-size: 9px;
                                                }
                                            }
                
                                            a:visited {
                                                color: inherit;
                                            }
                                        }
                    
                    
                                        .price-and-sold-container {
                                            display: flex;
                                            justify-content: space-between;
                    
                                            .price {
                                                span {
                                                    font-size: 15px;
                                                    color: $secondaryColor;
                                                }
                                            }
                    
                                            .number-sold {
                                                span {
                                                    vertical-align: middle;
                                                    font-size: 10px;
                                                    color: #A6A6A6;
                                                }
                                            }
                                        }
                                        
                                
                                        .rating-container{
                                            display: flex;
                                            
                                            span {
                                                font-size: 8px;
                                            }
                                            
                                            .number-of-ratings {
                                                margin-left: 3px;
                    
                                                span {
                                                    color: $secondaryColor;
                                                }
                                            }
                    
                                            .checked {
                                                color: orange;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .page-number-container-bottom {
                        padding-top: 20px;
                        
                        align-self: center;
            
                        span {
                            font-size: 30px;
                            margin-right: 10px;
                            color: #737373;
                        }   
                    }
                }
            }

            .line-2 {
                margin-top: 40px;
                border-top: 5px solid $secondaryColor;
            }

            .payment-methods-and-about-container {
                display: flex;
                background-color: $primaryColor;
                margin-top: 30px;

                .payment-methods {
                    padding: 10px;

                    h1 {
                        font-size: 30px;
                    }
                }

                .about-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 50px;
                    padding: 10px;
                    width: 700px;

                    h2 {
                        font-size: 30px;
                        padding-bottom: 10px;
                    }

                    .copyright {
                        align-self: center;
                    }
                }
            }
        }
    }
}