* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EBA92A;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1150px;
  padding: 15px 0;
}

.navbar-container .navbar .logo {
  width: 150px;
}

.navbar-container .navbar .search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar-container .navbar .search-bar-container svg {
  position: absolute;
  height: 20px;
  margin-left: 510px;
  padding: 10px 10px;
}

.navbar-container .navbar .search-bar-container input {
  width: 550px;
  height: 30px;
  font-size: 20px;
  padding-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
}

.navbar-container .navbar .navbar-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .navbar .navbar-icons-container svg {
  height: 30px;
  margin-left: 15px;
}

.home-page .home-text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .home-text-container div {
  width: 1180px;
}

.home-page .home-text-container div h1 {
  font-size: 24px;
}

.home-page .home-text-container div hr {
  position: absolute;
  border: 2px solid #EBA92A;
  width: 60px;
}

.home-page .todays-deals-text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .todays-deals-text-container div {
  width: 1150px;
}

.home-page .todays-deals-text-container div u, .home-page .todays-deals-text-container div h2 {
  font-size: 30px;
  color: #EBA92A;
}

.home-page .flex-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .flex-box-container .flex-box {
  width: 1190px;
  height: 30px;
  background-color: #F1F1F1;
}

.home-page .general-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .general-container .general-box {
  background-color: #F1F1F1;
  padding: 20px;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page .general-container .general-box .todays-deals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .general-container .general-box .todays-deals-container .product-container {
  background-color: #EBA92A;
  padding: 8px;
  margin-right: 7px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product {
  background-color: #FFFFFF;
  padding-bottom: 8px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product img {
  width: 142px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description {
  padding: 0 8px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .product-name {
  text-align: center;
  padding-bottom: 2px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .product-name a {
  text-decoration: none;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .product-name a span {
  font-size: 12px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .product-name a:visited {
  color: inherit;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .price-and-sold-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .price-and-sold-container .price span {
  font-size: 17px;
  color: #EBA92A;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .price-and-sold-container .number-sold span {
  vertical-align: middle;
  font-size: 12px;
  color: #A6A6A6;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .rating-container span {
  font-size: 9px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .rating-container .number-of-ratings {
  margin-left: 3px;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .rating-container .number-of-ratings span {
  color: #EBA92A;
}

.home-page .general-container .general-box .todays-deals-container .product-container .product .product-description .rating-container .checked {
  color: orange;
}

.home-page .general-container .general-box .shopadala-sale-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-banner {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-banner img {
  width: 600px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container {
  background-color: #EBA92A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  margin-top: 28px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container .phone-sale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-right: 2px;
  margin-top: 20px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container .phone-sale-container .limited-time-offer-sticker {
  position: absolute;
  width: 65px;
  margin-left: 112px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container .phone-sale-container .sale-product {
  background-color: #FFFFFF;
  width: 145px;
  text-align: center;
  margin-top: 25px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container .phone-sale-container .sale-product img {
  width: 145px;
}

.home-page .general-container .general-box .shopadala-sale-section .shopadala-sale-container .phone-sale-container .sale-product span {
  font-size: 30px;
  color: #EBA92A;
}

.home-page .general-container .general-box .category-and-all-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 210px;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container .category-icon-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container .category-icon-and-title svg {
  width: 28px;
  margin-right: 5px;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container .category-icon-and-title h1 {
  font-size: 24px;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container .categories {
  text-align: center;
}

.home-page .general-container .general-box .category-and-all-products-container .category-container .categories span {
  font-size: 20px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 870px;
  padding: 10px;
  background-color: #FFFFFF;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text {
  margin-bottom: 10px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text h1 {
  font-size: 30px;
  margin-left: 10px;
  color: #EBA92A;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text hr {
  border: 2px solid #EBA92A;
  width: 180px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container {
  background-color: #EBA92A;
  padding: 6px;
  margin-right: 7px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product {
  background-color: #FFFFFF;
  padding-bottom: 8px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product img {
  width: 127px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description {
  padding: 0 8px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name {
  text-align: center;
  padding-bottom: 2px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a {
  text-decoration: none;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a span {
  font-size: 10px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a:visited {
  color: inherit;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container .price span {
  font-size: 15px;
  color: #EBA92A;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container .number-sold span {
  vertical-align: middle;
  font-size: 10px;
  color: #A6A6A6;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container span {
  font-size: 8px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .number-of-ratings {
  margin-left: 3px;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .number-of-ratings span {
  color: #EBA92A;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .checked {
  color: orange;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container {
  padding: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container span {
  font-size: 30px;
  margin-right: 10px;
  color: #737373;
}

.home-page .general-container .general-box .line {
  margin-top: 40px;
}

.home-page .general-container .general-box .line hr {
  border: 2px solid #EBA92A;
}

.home-page .general-container .general-box .payment-methods-and-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  margin-top: 30px;
}

.home-page .general-container .general-box .payment-methods-and-about-container .payment-methods {
  padding: 10px;
}

.home-page .general-container .general-box .payment-methods-and-about-container .payment-methods h1 {
  font-size: 30px;
}

.home-page .general-container .general-box .payment-methods-and-about-container .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  padding: 10px;
  width: 700px;
}

.home-page .general-container .general-box .payment-methods-and-about-container .about-container h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.home-page .general-container .general-box .payment-methods-and-about-container .about-container .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-page body {
  font-family: Verdana, Georgia, Tahoma, sans-serif;
}

.login-page a {
  Margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 100px;
}

.login-page h1 {
  text-align: center;
  font-family: Tahoma;
  font-size: 35px;
  color: #c5702a;
}

.login-page h2 {
  text-align: center;
  font-family: Tahoma;
  font-size: 20px;
  height: 1px;
  color: #c5702a;
}

.login-page .About-btn {
  float: right;
  border: none;
  margin-top: 16px;
  margin-right: 45px;
  background: None;
  font-size: 25px;
  font-family: Tahoma;
  color: white;
}

.login-page .home-btn {
  float: right;
  border: none;
  margin-right: 45px;
  margin-top: 16px;
  background: None;
  font-size: 25px;
  font-family: Tahoma;
  color: white;
}

.login-page .Cont-btn {
  float: right;
  border: none;
  margin-right: 200px;
  margin-top: 16px;
  background: None;
  font-size: 25px;
  font-family: Tahoma;
  color: white;
}

.login-page .Cont-btn:hover, .login-page .home-btn:hover, .login-page .About-btn:hover {
  color: #D0A984;
}

.login-page .containter1 {
  background-color: #ffffff;
  border-radius: 0;
  padding: 20px 0 30px 0;
  width: 550px;
  margin-top: 150px;
  margin-right: 150px;
  margin-bottom: 0;
  margin-left: 100px;
}

.login-page .fb-btn {
  float: left;
  background: none;
  border: none;
  margin-left: 80px;
}

.login-page .fa-facebook {
  color: royalblue;
}

.login-page .twt-btn {
  float: center;
  background: none;
  border: none;
  margin-left: 50px;
  margin-top: 5px;
}

.login-page .fa-twitter-square {
  color: #18a7e0;
}

.login-page .Gmail-btn {
  float: right;
  background: none;
  border: none;
  margin-right: 80px;
  margin-top: 10px;
}

.login-page .fa-google {
  color: #b11414;
}

.login-page .fa-facebook:hover, .login-page .fa-twitter-square:hover, .login-page .fa-google:hover {
  color: #D0A984;
}

.login-page h3 {
  text-align: center;
  color: #c5702a;
  font-size: 18px;
  font-family: Tahoma;
}

.login-page input[type=text], .login-page input[type=password] {
  text-align: center;
  width: 93%;
  margin: 20px;
  border: 10px solid #8d8d8d;
  display: inline-block;
  font-family: Tahoma;
  font-size: 15px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-results-page .general-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.search-results-page .general-container .general-box {
  background-color: #F1F1F1;
  padding: 20px;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-results-page .general-container .general-box .page-path-and-sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-results-page .general-container .general-box .page-path-and-sort-by span {
  font-size: 20px;
}

.search-results-page .general-container .general-box .page-path-and-sort-by .search-results-text {
  color: #EBA92A;
  margin-right: 30px;
}

.search-results-page .general-container .general-box .page-path-and-sort-by .number-of-results {
  color: #A6A6A6;
}

.search-results-page .general-container .general-box .page-path-and-sort-by hr {
  position: absolute;
  border: 2px solid #EBA92A;
  width: 120px;
  margin-left: 70px;
}

.search-results-page .general-container .general-box .page-path-and-sort-by select {
  height: 20px;
  font-size: 15px;
  padding-left: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #FFFFFF;
}

.search-results-page .general-container .general-box .category-and-all-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 210px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .category-container .category-title {
  margin-bottom: 10px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .category-container .category-title h1 {
  font-size: 24px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .category-container .categories {
  text-align: center;
}

.search-results-page .general-container .general-box .category-and-all-products-container .category-container .categories span {
  font-size: 20px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top {
  padding-bottom: 15px;
  padding-top: 2px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top .active {
  width: 30px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top .bi-chevron-left {
  visibility: hidden;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top span {
  font-size: 22px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top a {
  text-decoration: none;
  color: black;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-top a .page-number {
  margin-right: 10px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 870px;
  padding: 10px;
  background-color: #FFFFFF;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text {
  margin-bottom: 10px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text h1 {
  font-size: 30px;
  margin-left: 10px;
  color: #EBA92A;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .all-products-text hr {
  border: 2px solid #EBA92A;
  width: 180px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container {
  background-color: #EBA92A;
  padding: 6px;
  margin-right: 7px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product {
  background-color: #FFFFFF;
  padding-bottom: 8px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product img {
  width: 127px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description {
  padding: 0 8px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name {
  text-align: center;
  padding-bottom: 2px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a {
  text-decoration: none;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a span {
  font-size: 10px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .product-name a:visited {
  color: inherit;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container .price span {
  font-size: 15px;
  color: #EBA92A;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .price-and-sold-container .number-sold span {
  vertical-align: middle;
  font-size: 10px;
  color: #A6A6A6;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container span {
  font-size: 8px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .number-of-ratings {
  margin-left: 3px;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .number-of-ratings span {
  color: #EBA92A;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .all-products-container .products-section .product-container .product .product-description .rating-container .checked {
  color: orange;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-bottom {
  padding-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-results-page .general-container .general-box .category-and-all-products-container .all-products-and-page-number-container .page-number-container-bottom span {
  font-size: 30px;
  margin-right: 10px;
  color: #737373;
}

.search-results-page .general-container .general-box .line {
  margin-top: 40px;
}

.search-results-page .general-container .general-box .line hr {
  border: 2px solid #EBA92A;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  margin-top: 30px;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container .payment-methods {
  padding: 10px;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container .payment-methods h1 {
  font-size: 30px;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  padding: 10px;
  width: 700px;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container .about-container h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.search-results-page .general-container .general-box .payment-methods-and-about-container .about-container .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile-page .general-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.profile-page .general-container .general-box {
  background-color: #F1F1F1;
  padding: 20px;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .general-container .general-box .profile-picture-and-information {
  background-color: #EBA92A;
  width: 1000px;
  height: 170px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 50px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .profile-picture-section {
  margin: 14px 10px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .profile-picture-section .profile-picture {
  width: 100px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .online-status {
  width: 40px;
  position: absolute;
  margin-top: 70px;
  margin-left: 75px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .username-and-rating-section {
  margin: 24px 40px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .username-and-rating-section span {
  font-size: 30px;
  color: #FFFFFF;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .username-and-rating-section .star-rating span {
  font-size: 15px;
  color: #FFFFFF;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .username-and-rating-section .friends-logo-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .username-and-rating-section .friends-logo-and-text span {
  margin-left: 5px;
  font-size: 18px;
  color: #FFFFFF;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .profile-information-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 26px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .profile-information-section span {
  font-size: 30px;
  color: #FFFFFF;
}

.profile-page .general-container .general-box .profile-picture-and-information .profile-container .vl {
  border-left: 3px solid #FFFFFF;
  height: 130px;
  margin: 0 10px;
}

.profile-page .general-container .general-box .profile-settings {
  width: 1000px;
}

.profile-page .general-container .general-box .profile-settings hr {
  border: 6px solid #D9D9D9;
}

.profile-page .general-container .general-box .profile-settings .options {
  margin-top: 25px;
}

.profile-page .general-container .general-box .profile-settings .options h2 {
  color: #898686;
  text-decoration: none;
  font-size: 30px;
}

.profile-page .general-container .general-box .profile-settings .options a {
  text-decoration: none;
  color: black;
}

.profile-page .general-container .general-box .profile-settings .options a li {
  list-style: none;
  margin-top: 8px;
  margin-left: 45px;
  font-size: 25px;
}

.profile-page .general-container .general-box .profile-settings .options a .delete-account-text {
  color: red;
}

.profile-page .general-container .general-box .profile-settings .options hr {
  margin-top: 25px;
  border: 2px solid #D9D9D9;
}
/*# sourceMappingURL=style.css.map */