// Sass is a professional CSS extension that is capable of nesting and allows compatibility across different platforms.

$primaryColor: #FFFFFF; 
$secondaryColor: #EBA92A;
$accentColor: #F1F1F1;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');


@import "./header";
@import "./home";
@import "./searchResultsPage";
@import "./profile";
@import "./product";
@import "./logIn";
@import "./signUp"